<section class="features-intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 nopadding features-intro-img">
                <div class="features-bg">
                    <div class="texture-overlay"></div>
                    <{# div class="features-img wp1">
                        <img src="{{ page.media[page.header.logo].url }}" alt="Logo">
                    </div> #}
                </div>
            </div>
            <div class="col-md-6 nopadding">
                <div class="features-slider">
	                <h2 class="display-3 text-white"><strong>{{ page.header.title }}</strong></h2>
                    <ul class="slides" id="featuresSlider">
                        {% for slide in page.header.slider %}
	                        <li>
														<blockquote class="team-quote">
															<div class="avatar"><img src="{{ url('theme://img/avatar.png') }}" alt="User Avatar"></div>
		                            <p>{{ slide.content }}</p>
															<div class="logo-quote">
																<a href="{{ slide.url }}"><img src="{{ page.media[slide.logo].url }}"></a>
															</div>
														</blockquote>
	                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
